/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.composer/
composer.phar
index.html
.gitconfig
_index.html
/public/assets/images/*
/public/assets/healthcenter
/public/libs
/config/googlemaps.php
/public/assets/profile
/public/assets/news
/public/assets/verificationImage
/public/assets/resources
/public/assets/import_files
/public/assets/profile_image
